.object-data-wrapper {
  .object-data {
    display: flex;
  }

  .object-data {
    border: solid rgb(160, 160, 160);
    border-width: 1px;
  }

  .object-options {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;

    .options {
      width: 10%;
    }
  }

  .data {
    flex: 2;
    padding: 1rem;

    .details-table {
      width: 100%;

      th,
      td {
        text-align: left;
      }
    }

    .metadata {
      margin: 5vh;
      text-align: center;
    }

    .tags {
      margin: 5vh;
      text-align: center;
    }
  }

  .versions-container {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
  }

  .versions-container {
    ul,
    li {
      list-style: none;
      padding: 0;
    }

    .timeline {
      border: solid rgb(160, 160, 160);
      border-width: 0px 1px 0px 1px;
      padding: 2rem;
    }
    h1 {
      font-size: 1.1rem;
      font-family: sans-serif;
    }
    .sessions {
      margin-top: 2rem;
      border-radius: 12px;
      position: relative;
    }

    li {
      padding-bottom: 1.5rem;
      border-left: 1px solid rgb(160, 160, 160);
      position: relative;
      padding-left: 20px;
      margin-left: 10px;
      &:last-child {
        border: 0px;
        padding-bottom: 0;
      }
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid black;
        box-shadow: 3px 3px 0px rgb(160, 160, 160);
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
      }
    }

    .selected-version {
      padding: 10px;
      border-radius: 10px;
      background-color: #bfbfbf;
    }

    .non-selected-version {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--light-gray);
    }

    .non-selected-version:hover {
      cursor: pointer;
    }

    .time {
      font-weight: 500;
    }
    p {
      color: rgb(59, 59, 59);
      line-height: 1.5;
      margin-top: 0.4rem;
    }
  }
}
