.page {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .welcomeWrap {
    height: 80ch;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcomeContent {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 230;
    font-family: "Exo 2", sans-serif;
  }

  .logoText {
    margin-top: 1.4ch;
    font-family: "Exo 2", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
  }

  .subLogoText {
    margin-top: 1.4ch;
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
  }

  .optionsWrap {
    margin-top: 5vh;
    width: 70%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .welcomeOption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2vh;
      width: 35vh;
      background-color: white;
      border-radius: 3ch;
      text-align: left;
      font-family: "Exo 2", sans-serif;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .welcomeOption:hover {
      border: 2px solid;
    }

    .optionTitle {
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-weight: 500;
      font-style: normal;
    }
  }

  .comparisonTableWrap {
    margin-top: 10ch;
    height: 20ch;
    background-color: red;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .tableTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    font-family: "Exo 2", sans-serif;
  }

  .footer {
    margin-top: 12vh;
    .content {
      font-family: "Exo 2", sans-serif;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .footerText {
        margin-top: 2%;
        margin-bottom: 2%;
        line-height: 30px;
      }
    }
  }
}
