.buckets-data {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  position: relative;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.buckets-table {
  width: 100%;
  text-align: left;
  color: #6b7280;
}

.buckets-table thead {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #374151;
}

.buckets-table thead th {
  padding: 12px 24px;
}

.buckets-table thead th:nth-child(odd) {
  background-color: #f9fafb;
}

.buckets-table tbody {
  font-size: 1rem;
}

.buckets-table .data-header span {
  text-decoration: underline;
  text-decoration-color: hsl(344deg 83% 47%);
  background: linear-gradient(
    80deg,
    hsl(240deg 100% 20%) 0%,
    hsl(277deg 100% 21%) 8%,
    hsl(297deg 100% 21%) 17%,
    hsl(313deg 100% 26%) 25%,
    hsl(323deg 100% 31%) 33%,
    hsl(331deg 100% 36%) 42%,
    hsl(336deg 100% 40%) 50%,
    hsl(344deg 83% 47%) 58%,
    hsl(359deg 82% 57%) 67%,
    hsl(11deg 91% 58%) 75%,
    hsl(21deg 97% 57%) 83%,
    hsl(31deg 100% 54%) 92%,
    hsl(39deg 100% 50%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buckets-table tr {
  border-bottom: 1px solid #e5e7eb;
}

.buckets-table th {
  color: rgb(18, 18, 228);
  cursor: pointer;
  padding: 16px 24px;
  font-weight: 500;
  color: #111827;
  white-space: nowrap;
  background-color: #f9fafb;
}

.buckets-table td {
  padding: 16px 24px;
}

.buckets-table td:nth-child(3) {
  background-color: #f9fafb;
}

.no-buckets {
  width: 100%;
  text-align: center;
  margin-top: 15rem;
}
