.search-container {
  padding-bottom: 1rem;
  background-color: white;
}

.search-container.dark-mode {
  background-color: #1a202c;
}

.search-box {
  position: relative;
  margin-top: 0.25rem;
}

.search-box .sr-only {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-icon .icon {
  width: 1rem;
  height: 1rem;
  color: #6b7280;
}

.search-box.dark-mode .search-icon .icon {
  color: #e5e7eb;
}

.search-input {
  padding-top: 0.5rem;
  padding-left: 2.5rem;
  font-size: 0.875rem;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  width: 20rem;
  background-color: #f9fafb;
  transition: all 0.2s ease;
}

.search-input:focus {
  outline: 2px solid #3b82f6;
  border-color: #3b82f6;
}

.search-input.dark-mode {
  background-color: #374151;
  border-color: #4b5563;
  color: white;
}

.search-input.dark-mode:focus {
  outline: 2px solid #3b82f6;
  border-color: #3b82f6;
}
