.table-container {
  position: relative;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.bucket-content-table {
  width: 100%;
  text-align: left;
  color: #6b7280;
}

.bucket-content-table thead {
  font-size: 1.125rem;
  text-transform: uppercase;

  color: #0b2b5f;
}

.bucket-content-table thead th {
  padding: 12px 24px;
}

.bucket-content-table thead th:nth-child(odd) {
  background-color: #f9fafb;
}

.bucket-content-table tbody {
  font-size: 1rem;
}

.bucket-content-table tr {
  border-bottom: 1px solid #e5e7eb;
}

.bucket-content-table th {
  color: rgb(18, 18, 228);
  padding: 16px 24px;
  font-weight: 500;
  color: #111827;
  white-space: nowrap;
  background-color: #f9fafb;
}

.bucket-content-table td {
  padding: 16px 24px;
}

.bucket-content-table td:nth-child(3) {
  background-color: #f9fafb;
}

.no-buckets {
  width: 100%;
  text-align: center;
  margin-top: 15rem;
}
