.bucket-content-wrapper {
  justify-items: center;
  .table-container {
    position: relative;
    overflow-x: auto;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
  }

  .content-table-wrapper {
    justify-items: center;
  }

  .no-objects {
    width: 100%;
    text-align: center;
    margin-top: 15rem;
  }

  .folder-title {
    display: flex;
    align-items: center;

    .custom-link {
      margin-left: 10px;
    }

    .folder-icon {
      width: 30px;
      height: 30px;
      fill: var(--primary-color);
    }
  }

  .objects-pagination {
    display: flex;
    width: 25%;

    button {
      margin: 10px;
    }
  }

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    button {
      margin: 5px;
    }
  }

  .options {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .content-table {
    margin-top: 2%;
    width: 100%;
    text-align: left;
    color: #6b7280;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
      font-size: 1.125rem;
      text-transform: uppercase;

      color: #0b2b5f;
    }

    thead th {
      width: 100%;
      padding: 12px 24px;
      background-color: #f9fafb;
    }

    tbody {
      font-size: 1rem;
    }

    tr {
      width: 100%;
      border-bottom: 1px solid #e5e7eb;
    }

    th {
      width: 100%;
      padding: 16px 24px;
      font-weight: 500;
      color: #111827;
      white-space: nowrap;
    }

    td {
      padding: 16px 24px;
    }

    td:nth-child(3) {
      background-color: #f9fafb;
    }
  }

  .no-buckets {
    width: 100%;
    text-align: center;
    margin-top: 15rem;
  }

  .breadcrumbs {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
